 /*@tailwind base;*/
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

/*//////<--Typography-->///////*/


@layer components{
    .mobile__menu-list {
        @apply w-full h-[40px] flex items-center hover:text-[#6eb8ff] cursor-pointer
    }
    .mobile__menu-list p{
        @apply pr-[15px]
    }
}


 /*-----------------Header-------------------*/
 .header_gradient{
     background: linear-gradient(0.5turn, #000, rgba(255, 255, 255, 0.05));

 }
 /*--------------HeaderSticky-------------*/
 .sticky-header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: black;
     box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
     transition: all 1s ease-out;
 }
 .sticky-before{
     width: 100%;
     position: absolute;
     top: -100px;
     transition: all 1s ease-out;

 }
 /*--------------HeaderSticky-------------*/
