@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  background-color: #121212;
  direction: rtl;
  font-family: 'iranyekanRegular', serif;


}
@font-face {
  font-family: iranyekanBold;
  src: url("../public/fonts/iranyekanwebbold.woff") format("opentype");
}
@font-face {
  font-family: iranyekanRegular;
  src: url("../public/fonts/iranyekanwebregular.woff") format("opentype");
}

p, div {
  font-family: 'iranyekanRegular', serif;
}

h1, h2, h3, h4, span, a {
  font-family: 'iranyekanBold', serif;
}
/*-------------------Footer-------------------*/
@layer components {
  .Footer__container {
    @apply w-full flex items-center bg-[#1A1A1A] flex-col
  }
  .Footer {
    @apply  flex flex-col px-5 py-2 w-full bg-inherit 
    tab:px-7 tab:max-w-[1144px]
    des:py-5 des:px-0
  }
  .Footer__holder {
    @apply flex justify-center bg-inherit z-20 w-full
  }
  .DA__container {
    @apply block
    ml:flex ml:justify-between ml:py-3
    des:w-[1144px] des:h-[104px] des:bg-[#222327] des:rounded des:px-[24px] des:py-[16px]
  }
  .DA__title {
    @apply flex text-[#ffffff] py-2
    des:py-0
  }
  .DA__title__logo {
    @apply bg-gradient-to-b from-[rgba(25,147,255,1)] to-[rgba(0,95,180,1)] w-[48px] h-[48px] rounded-md flex items-center justify-center ml-2
    des:h-[72px] des:w-[72px]
  }
  .DA__title__text {
    @apply flex items-center text-sm mx-2 no-underline text-[#FFFFFF]
    des:text-base
  }
  .AppStore__holder {
    @apply flex items-center py-2

  }
  .AppStore {
    @apply w-[48px] h-[48px] rounded-md bg-[#37383E] flex items-center justify-center ml-4
    des:w-[106px] des:justify-start des:px-1
  }
  .AppStore__more {
    @apply text-[#6eb8ff] text-sm flex items-center justify-center font-iranyekanBold no-underline
  }
  .AppStore__details {
    @apply flex-col pr-1 hidden des:flex
  }
  .AppStore__icon__text {
    @apply text-[rgba(255,255,255,0.7)] text-[9px] pb-1
  }
  .AppStore__name {
    @apply text-[#f2f2f2] text-xs pb-1
  }
  .AboutUs__container {
    @apply
    ml:flex ml:justify-between ml:pb-6 ml:border-b-[1px] ml:border-[#37383e]
    tab:items-center
    des:py-6
  }
  .AboutUs__title {
    @apply text-[#FFFFFF] text-xs py-2 font-iranyekanBold
  }
  .AboutUs__description {
    @apply text-[#aaaaaa] leading-6 text-[11px] py-2 font-iranyekanRegular
  }
  .TrustUs {
    @apply flex py-3
    ml:flex-col ml:pr-7
    tab:flex-row
    des:px-5
  }
  .TrustUs__container {
    @apply w-[90px] h-[90px] bg-[#CCCCCC] rounded-md ml-6
    ml:mb-6 ml:ml-0
    tab:mb-0 tab:mr-7
  }
  .TrustUs__image {
    @apply w-[90px] h-[90px]
  }
  .ContactUs__container {
    @apply py-3
    tab:flex tab:justify-between tab:flex-row-reverse
  }
  .ContactUs__SocialMedia {
    @apply flex justify-center py-3
  }
  .SocialMedia {
    @apply px-4
    tab:px-0 tab:mr-8
  }
  .SocialMedia__icon {
    @apply hover:fill-[#005fb4]
  }
  .ContactUs__text {
    @apply text-[#aaaaaa] text-[10px] leading-5 py-2 font-iranyekanRegular
  }
  .FooterNavbar{
    @apply w-full h-10 z-10 sticky bottom-0
  }
  .FooterNavbar__menu {
    @apply bg-[#222327] px-4 flex items-center justify-between h-full ml:justify-evenly
  }
  .DropdownMenu {
    @apply h-full w-fit flex items-center text-[#cccccc] text-xs ml:justify-center
  }
  .Dropdown__button {
    @apply flex items-center justify-center
  }
  .Dropdown__button__text {
    @apply ml-2 hover:text-[#ffffff]
  }
  .DropdownMenu__menu {
    background-color: #222327; position: absolute; bottom: 40px; z-index: -1;
    width: 100vw; padding-bottom: 0; max-height: 0; overflow: hidden; transition: max-height 0.8s;
    

    @apply ml:w-[360px] ml:left-[32px] tab:left-[60px]
    des:w-[180px] des:left-[52px]

  }
  .DropdownMenu__menu-open {
  max-height: 500px; padding-bottom: 16px;
    

  }
  .DropdownMenu__items {
    @apply text-xs text-[#cccccc] block py-3 px-6 hover:text-[#ffffff]
  }
  .NavbarMenu__items {
    @apply text-xs text-[#cccccc] hover:text-[#ffffff]
  }

  .DropdownMenu__menu-close {
    @apply flex justify-between items-center cursor-pointer pt-6
  } 

}
/*-------------------Footer-------------------*/

@layer components{
  .movie-slide {
    @apply text-white w-full h-full text-center text-lg flex justify-center items-center rounded cursor-pointer;
  }
  .profileBox__list {
    @apply w-full h-[21px] mb-[15px] text-zinc-900 hover:text-[#1993ff] fill-[#bdbec0] hover:fill-[#1993ff] flex flex-row items-center justify-start cursor-pointer list-none
  }
  .profileBox__list-text {
    @apply text-[12px] mr-[8px]
  }
}


@layer components{
    .mobile__menu-list {
        @apply w-full h-[40px] flex items-center hover:text-[#6eb8ff] cursor-pointer
    }
    .mobile__menu-list p{
        @apply pr-[15px]
    }
  }


@layer components{
    .header__active-bookmarks {
        @apply bg-white text-black py-3 px-6 rounded-md
    }
    .header__non-active-bookmarks {
      @apply text-white py-3 px-6 rounded-md
  }
  }

/*-----------------Header-------------------*/
.header_gradient {
    background-color: rgba(18, 18, 18, 0);
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0));
}

.active {
    color: #6EB8FF;
}

/*--------------HeaderSticky-------------*/
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(18,18,18,1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s ease-out;
}
.sticky-before {
    width: 100%;
    position: fixed;
    top: -100px;
    transition: top 0.5s,box-shadow 2s, background-color 2s;
}

/*--------------HeaderSticky-------------*/


/*----------------MovieDetails-----------*/

@layer components {
  
  .MoviePictures__container {
    @apply px-4 flex flex-col 
    ml:px-[18px]
    tab:px-[25px]
    des:px-9
  }
  .MoviePictures__text {
    @apply px-1 text-base text-[#ffffff] pb-1
    ml:px-[6px]
    tab:px-[7px]
    des:px-[8px]
  }
  .MoviePictures__box {
    @apply flex flex-wrap mb-1
    ml:mb-3
    
  }
  .MoviePictures__pictureHolder {
    @apply w-1/3 px-1 my-[12px] 
    ml:w-1/4 ml:px-[6px]
    tab:w-1/5 tab:px-[7px]
    des:w-[14.28%] des:px-2
  }
  .MoviePictures__pictureStyle {
    @apply h-full w-full rounded-md cursor-pointer

  }
  .AboutMovie__container {
    @apply px-5 flex flex-col
    ml:px-6
    tab:px-8
    des:px-11
  }
  .AboutMovie__movieName {
    @apply text-[#ffffff] text-xs mb-6
    tab:text-sm
  }
  .AboutMovie__title {
    @apply text-[#ffffff] text-base font-iranyekanBold mb-4
    ml:mb-4
  }
  .AboutMovie__description {
    @apply pb-7
  }
  .AboutMovie__descriptionParagraph {
    @apply text-[#aaaaaa] text-xs leading-7
    tab:text-sm tab:leading-8
  }
  .AboutMovie__additionalDetails {
    @apply mb-10 tab:mb-11 des:pb-12
  }
  .AboutMovie__category {
    @apply text-[#ffffff] text-xs mb-3
    tab:text-sm
  }
  .AboutMovie__voice {
    @apply text-[#ffffff] text-xs
    tab:text-sm
  }
  .SlideShow__background {
    @apply fixed top-0 left-0 w-full h-full bg-[#121212cc] flex items-center z-30
  }
  .SlideShow__container {
    @apply w-full h-auto flex relative
  }
  .SlideShow__buttons {
    @apply w-[10%] h-auto flex justify-center items-center des:w-[19%] cursor-pointer
  }
  .SlideShow__imageHolder {
    @apply w-[80%] h-auto des:w-[62%] rounded-lg overflow-hidden
  }
  .SlideShow__imageStyle {
    @apply rounded-lg
  }
  .SlideShow__closeButton {
    @apply absolute left-[10%] top-[-32px] cursor-pointer ml:top-[-40px] tab:top-[-52px] des:left-[19%]
  }
}


/*----------------MovieDetails-----------*/


