.swiper-button-prev::after,
.swiper-button-next::after {
  --swiper-navigation-size: 20px;
  padding: 500px 20px;
  color: white;
  transition: all 0.7s ease;
  opacity: 0;

}
.swiper-button-next::after {

  background: linear-gradient(0.25turn, #000, #ffffff00);

}

.swiper-button-prev::after{
  background: linear-gradient(0.25turn, #00000000, #000);

}


.swiper:hover .swiper-button-prev::after{
  opacity: 1;
}
.swiper:hover .swiper-button-next::after {
  opacity: 1;
} 
