.tooltip {
  position: relative;
}

.tooltip .tooltip_text {
  visibility: hidden;
  font-size: 15px;
  padding: 5px;
  background-color: white;
  color: black;
  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
top: 52px;
right: -36px;
  
  transition: opacity 1s;
}

.tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 8px;
  border: 4px solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}





.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}